In [10]:
%run src/payments.py

In [2]:
filepath = 'data/PMTHIST_INVESTOR_201808.csv'
payments = get_cleaned_payment_history_data(filepath)
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37323067 entries, 0 to 37323066
Data columns (total 5 columns):
LOAN_ID                      int64
RECEIVED_D                   datetime64[ns]
RECEIVED_AMT_INVESTORS       float32
PBAL_END_PERIOD_INVESTORS    float32
defaulted                    uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 889.9 MB

In [3]:
payments.head()

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,defaulted
0,54734,2009-09-01,632.770996,18636.410156,0
1,54734,2009-10-01,632.770996,18188.363281,0
2,54734,2009-11-01,632.770996,17735.876953,0
3,54734,2009-12-01,632.770996,17278.906250,0
4,54734,2010-01-01,632.770996,16817.404297,0

In [34]:
payments[(payments['RECEIVED_D'].dt.year == 2008) & (payments['RECEIVED_D'].dt.month == 8)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1735 entries, 50 to 60837
Data columns (total 5 columns):
LOAN_ID                      1735 non-null int64
RECEIVED_D                   1735 non-null datetime64[ns]
RECEIVED_AMT_INVESTORS       1735 non-null float32
PBAL_END_PERIOD_INVESTORS    1735 non-null float32
defaulted                    1735 non-null uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 55.9 KB

In [12]:
import datetime
from dateutil.relativedelta import relativedelta
current_date = datetime.date(2008,7,1)

In [37]:
add_one_month = relativedelta(months=1)

In [48]:
type(current_date)

datetime.date

In [50]:
payments.to_pickle('data/cleaned_payments_data', compression='bz2')

In [46]:
def get_payments_for_date(payments_df, date):
    return payments_df[(payments_df['RECEIVED_D'].dt.year == date.year) & (payments_df['RECEIVED_D'].dt.month == date.month)]

In [4]:
get_payments_for_date(payments, datetime.date(2018,7,1))

NameError: name 'get_payments_for_date' is not defined

In [3]:
test = pd.read_pickle('data/cleaned_payments_data', compression='bz2')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37323067 entries, 0 to 37323066
Data columns (total 5 columns):
LOAN_ID                      int64
RECEIVED_D                   datetime64[ns]
RECEIVED_AMT_INVESTORS       float32
PBAL_END_PERIOD_INVESTORS    float32
defaulted                    uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 889.9 MB

In [64]:
one_loan = test[test['LOAN_ID'] == 54734]

In [65]:
issue_d = datetime.date(2009,8,1)
from dateutil import relativedelta

In [61]:
one_loan['issue_d'] = issue_d

/Users/booleans/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [68]:
one_loan.head(5)

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,defaulted
0,54734,2009-09-01,632.770996,18636.410156,0
1,54734,2009-10-01,632.770996,18188.363281,0
2,54734,2009-11-01,632.770996,17735.876953,0
3,54734,2009-12-01,632.770996,17278.906250,0
4,54734,2010-01-01,632.770996,16817.404297,0

In [69]:
one_loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 5 columns):
LOAN_ID                      26 non-null int64
RECEIVED_D                   26 non-null datetime64[ns]
RECEIVED_AMT_INVESTORS       26 non-null float32
PBAL_END_PERIOD_INVESTORS    26 non-null float32
defaulted                    26 non-null uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 858.0 bytes

In [77]:
dir(one_loan['RECEIVED_D'][0] - one_loan['RECEIVED_D'][1])

['__abs__',
 '__add__',
 '__array_priority__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__le__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pyx_vtable__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_d',
 '_ensure_components',
 '_h',
 '_has_ns',
 '_m',
 '_ms',
 '_ns',
 '_repr_base',
 '_round',
 '_s',
 '_us',
 'asm8',
 'ceil',
 'components',
 'days',
 'delta',
 'floor',
 'freq',
 'is_populated',
 'isoformat',
 'max',
 'microseconds',
 'min',
 'nanoseconds',
 'resolution',
 'round',
 'seconds',
 'to_pytimedelta',
 'to_timedelta64',
 'total_seconds',
 'value',
 'view']

In [80]:
one_loan['RECEIVED_D'].dt.month - issue_d.month

0     1
1     2
2     3
3     4
4    -7
5    -6
6    -5
7    -4
8    -3
9    -2
10   -1
11    0
12    1
13    2
14    3
15    4
16   -7
17   -6
18   -5
19   -4
20   -3
21   -2
22   -1
23    0
24    1
25    2
Name: RECEIVED_D, dtype: int64

In [60]:
one_loan['RECEIVED_D'][0].month - issue_d.month

1

In [63]:
one_loan['TEST'] = one_loan['RECEIVED_D'] - one_loan['issue_d']

TypeError: unsupported operand type(s) for -: 'DatetimeIndex' and 'datetime.date'