In [2]:
import pandas as pd

In [17]:
use_cols = ['LOAN_ID', 'RECEIVED_D', 'MONTHLYPAYMENT_INVESTORS']
df = pd.read_csv('data/PMTHIST_INVESTOR_201808.csv', nrows=100)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 40 columns):
LOAN_ID                         100 non-null int64
RECEIVED_D                      100 non-null object
PERIOD_END_LSTAT                100 non-null object
Month                           100 non-null object
MOB                             100 non-null int64
CO                              100 non-null int64
PBAL_BEG_PERIOD_INVESTORS       100 non-null float64
PRNCP_PAID_INVESTORS            100 non-null float64
INT_PAID_INVESTORS              100 non-null float64
FEE_PAID_INVESTORS              100 non-null int64
DUE_AMT_INVESTORS               100 non-null float64
RECEIVED_AMT_INVESTORS          100 non-null float64
PBAL_END_PERIOD_INVESTORS       100 non-null float64
MONTHLYPAYMENT_INVESTORS        100 non-null float64
COAMT_INVESTORS                 100 non-null int64
InterestRate                    100 non-null float64
IssuedDate                      100 non-null object
dti                             100 non-null float64
State                           100 non-null object
HomeOwnership                   100 non-null object
MonthlyIncome                   100 non-null float64
EarliestCREDITLine              100 non-null object
OpenCREDITLines                 100 non-null int64
TotalCREDITLines                100 non-null int64
RevolvingCREDITBalance          100 non-null int64
RevolvingLineUtilization        100 non-null float64
Inquiries6M                     100 non-null int64
DQ2yrs                          100 non-null int64
MonthsSinceDQ                   0 non-null float64
PublicRec                       100 non-null int64
MonthsSinceLastRec              38 non-null float64
EmploymentLength                100 non-null object
currentpolicy                   100 non-null int64
grade                           100 non-null object
term                            100 non-null int64
appl_fico_band                  100 non-null object
Last_FICO_BAND                  100 non-null object
vintage                         100 non-null object
PCO_RECOVERY_INVESTORS          0 non-null float64
PCO_COLLECTION_FEE_INVESTORS    0 non-null float64
dtypes: float64(15), int64(13), object(12)
memory usage: 31.3+ KB

In [21]:
df[['IssuedDate', 'RECEIVED_D', 'PBAL_END_PERIOD_INVESTORS']]

   IssuedDate RECEIVED_D  PBAL_END_PERIOD_INVESTORS
0     AUG2009    SEP2009               18636.409300
1     AUG2009    OCT2009               18188.363925
2     AUG2009    NOV2009               17735.877487
3     AUG2009    DEC2009               17278.905966
4     AUG2009    JAN2010               16817.404904
5     AUG2009    FEB2010               16351.329406
6     AUG2009    MAR2010               15880.634129
7     AUG2009    APR2010               15405.273281
8     AUG2009    MAY2010               14925.200617
9     AUG2009    JUN2010               14440.369432
10    AUG2009    JUL2010               13950.732560
11    AUG2009    AUG2010               13456.242367
12    AUG2009    SEP2010               12956.850745
13    AUG2009    OCT2010               12452.509113
14    AUG2009    NOV2010               11943.168404
15    AUG2009    DEC2010               11428.779067
16    AUG2009    JAN2011               10909.291061
17    AUG2009    FEB2011                9751.882829
18    AUG2009    MAR2011                9215.773287
19    AUG2009    APR2011                8622.085690
20    AUG2009    MAY2011                8022.513413
21    AUG2009    JUN2011                7416.998125
22    AUG2009    JUL2011                6805.480918
23    AUG2009    AUG2011                6187.902303
24    AUG2009    SEP2011                5564.202196
25    AUG2009    OCT2011                   0.000000
26    AUG2016    SEP2016                3383.737500
27    AUG2016    OCT2016                3315.435625
28    AUG2016    NOV2016                3245.329572
29    AUG2016    DEC2016                3173.763560
..        ...        ...                        ...
70    MAY2008    APR2010                 268.078422
71    MAY2008    JUN2010                 248.535695
72    MAY2008    JUL2010                 228.818548
73    MAY2008    JUL2010                 208.925426
74    MAY2008    SEP2010                 188.854758
75    MAY2008    SEP2010                 168.604960
76    MAY2008    NOV2010                 148.174431
77    MAY2008    DEC2010                 127.561561
78    MAY2008    DEC2010                 106.764720
79    MAY2008    FEB2011                  85.782268
80    MAY2008    MAR2011                  64.612547
81    MAY2008    APR2011                  43.253887
82    MAY2008    MAY2011                  21.704600
83    MAY2008    JUN2011                   0.000000
84    JAN2016    FEB2016                7798.106667
85    JAN2016    MAR2016                7595.121427
86    JAN2016    APR2016                7391.038375
87    JAN2016    MAY2016                7185.851575
88    JAN2016    JUN2016                6979.555055
89    JAN2016    JUL2016                6772.142815
90    JAN2016    AUG2016                6563.608821
91    JAN2016    SEP2016                6353.947005
92    JAN2016    OCT2016                6143.151269
93    JAN2016    NOV2016                5931.215479
94    JAN2016    DEC2016                5718.133469
95    JAN2016    JAN2017                5503.899041
96    JAN2016    FEB2017                5288.505962
97    JAN2016    MAR2017                5071.947965
98    JAN2016    APR2017                4854.218750
99    JAN2016    MAY2017                4635.311983

[100 rows x 3 columns]

In [11]:
df['MONTHLYPAYMENT_INVESTORS'] = df['MONTHLYPAYMENT_INVESTORS'].astype('float32')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
LOAN_ID                     100 non-null int64
Month                       100 non-null object
MONTHLYPAYMENT_INVESTORS    100 non-null float32
dtypes: float32(1), int64(1), object(1)
memory usage: 2.0+ KB

In [14]:
df.head()

   LOAN_ID    Month  MONTHLYPAYMENT_INVESTORS
0    54734  SEP2009                632.770996
1    54734  OCT2009                632.770996
2    54734  NOV2009                632.770996
3    54734  DEC2009                632.770996
4    54734  JAN2010                632.770996

In [ ]:
class Loan:
    def __init__(self, loan_id, amount, principal_remaining):
            self.id = loan_id
            self.principal_remaining = principal_remaining