In [1]:
import multiprocessing

In [2]:
multiprocessing.cpu_count()

8

In [1]:
from src import columns

In [4]:
import boto3

In [ ]:
columns.

In [1]:
import pandas as pd
from io import BytesIO
import boto3

def load_data_from_s3(filename):
    s3 = boto3.client('s3')
    obj = s3.get_object(Bucket='loan-analysis-data', Key=filename)
    data = obj['Body'].read()
    f = BytesIO(data)
    df = pd.read_csv(f, header=1, low_memory=False)
    return df

In [3]:
df = load_data_from_s3('LoanStats3a_securev1.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,1077501,NaN,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import pandas as pd
from io import BytesIO
import boto3

def load_data_from_s3(filename, format='csv'):
    s3 = boto3.client('s3')
    obj = s3.get_object(Bucket='loan-analysis-data', Key=filename)
    data = obj['Body'].read()
    f = BytesIO(data)
    if format=='csv':
        df = pd.read_csv(f, low_memory=False)
    if format=='pkl.bz2':
        df = pd.read_pickle(f, compression='bz2')
    return df

df = load_data_from_s3('predictions_in_sample.pkl.bz2', format='pkl.bz2')

In [5]:
df.head()

        id    issue_d  loan_amnt  predicted_roi
0  1077501 2011-12-01     5000.0      -2.406683
1  1077175 2011-12-01     2400.0      -6.132463
2  1076863 2011-12-01    10000.0      -0.148904
3  1075269 2011-12-01     5000.0      -1.621698
4  1072053 2011-12-01     3000.0      -1.602118

In [6]:
!pwd

/home/ubuntu/consumer-loan-survival-analysis