# Run a Simulation on Testing Data

In [61]:
from io import BytesIO
import boto3
import datetime
import multiprocessing as mp
import pickle
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

%run src/columns.py
%run src/data-cleaning.py
%run src/feature-engineering.py
%run src/modeling.py
%run src/payments.py
%run src/portfolio.py

In [17]:
payments = pd.read_pickle('data/df_payments_data_all_cleaned.pkl.bz2', compression='bz2')

In [21]:
payments.tail()

                      RECEIVED_AMT_INVESTORS  PBAL_END_PERIOD_INVESTORS  \
RECEIVED_D LOAN_ID
2019-04-01 145643149              568.580017               24095.798828
           145644144              264.959991                7435.606445
           145645132              387.489990               10271.670898
           145645185              595.020020               24143.052734
           145645206              299.429993                7937.182617

                      mths_since_issue
RECEIVED_D LOAN_ID
2019-04-01 145643149                 4
           145644144                 4
           145645132                 4
           145645185                 4
           145645206                 4

In [6]:
xgb_predictions = pd.read_pickle('data/model_xgb_predictions.pkl.bz2')

#### Create a Portfolio

In [62]:
myPortfolio = Portfolio(20000, 25, datetime.date(2016,5,1), xgb_predictions, payments, min_roi=8)

In [63]:
myPortfolio.date

datetime.date(2016, 5, 1)

In [64]:
simulation_month = 0
months = []
balances = []
while myPortfolio.date < datetime.date(2019,1,1):
    months.append(myPortfolio.date)
    myPortfolio.simulate_month()
    balances.append(myPortfolio.total_balance)